language: java

jdk:
  - openjdk7
  - oraclejdk7
  - oraclejdk8

env:
  global:
    - secure: "IIiTNlPGhzT1TriHoOLjm1Ef5yn7WOO7np0Kh+NxgLV+NGrh75Q55u7V5oZGDLq+dbYkYAB3sJrcVe1QoLEt2q+7GJefKFZ5USvQXQ16iCaf7otRLhCZdKPtniQy4nCWcoozmIyRW4NKBuUxSeshVGjIrtvrv8/pGQTyozrZjD0="

cache:
  directories:
    - $HOME/.m2

script: "mvn clean verify"

install: /bin/true

after_success: "mvn clean cobertura:cobertura coveralls:cobertura"
